@import '../../variables.scss';

.pagination {
  margin: 0 auto;
  text-align: center;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

    &-item {
      margin: 8px;
      &--inactive {
        display: none;
      }
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: $text-black;
    cursor: pointer;
    border-radius: 3px;
    transition: color .2s, background-color .2s;
    outline: none;

    &:hover {
      color: white;
      background-color: $yellow;
    }

    &--active {
      color: white;
      background-color: $yellow;
    }

  }
}

@media (min-width: 768px) {
  .pagination__list {
    justify-content: flex-end;
    &-item--inactive {
      display: block;
    }
  }
  .pagination__button {
    &--hidden {
      visibility: hidden;
    }
  }
}