@import '../../variables.scss';

.cart {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;

  &--empty {
    text-align: center;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &-wrapper {
      width: 100%;
      overflow: auto;
      margin-bottom: 32px;
    }

    &-button {
      @include button-square;
    }

    thead {
      background-color: $background-grey;

      th {
        padding: 8px;
        color: $text-black;
        font-size: 12px;
      }
    }

    td {
      padding: 12px;
      text-align: center;
    }

    &-image {
      max-height: 80px;
      display: block;
      margin: 0 auto;
    }
  }

  &__total {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: $background-grey;
    padding: 16px;

    &-shipping-title {
      font-size: 16px;
      color: $text-grey;
      margin: 8px 0;
    }

    &-price {
      display: flex;
      justify-content: space-between;
      color: $text-grey;
      font-size: 14px;
      font-weight: bold;

      &--lg {
        font-size: 16px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      &:first-of-type {
        margin-bottom: 8px;
      }

      &:last-of-type {
        margin-bottom: 8px;
      }
    }

    label {
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin-bottom: 8px;
      color: $text-grey;

      input {
        margin-left: 4px;
      }
    }

    &-button {
      @include button;
    }
  }
}

@media (min-width: 768px) {
  .cart {
    max-width: 100%;

    &__title {
      font-size: 32px;
      text-align: left;
    }

    &__container {
      flex-direction: row;
    }

    &__table-wrapper {
      flex: 4;
      margin: 0 16px 0 0
    }

  }
}