@import '../../variables.scss';

.checkout {
  &__container {
    padding: 60px 32px 0;
    width: 100%;
    height: 100%;
  }

  &__row {
    width: 100%;
    display: flex;

    & .checkout__form-field:first-child {
      margin-right: 8px;
    }
  }

  &__title {
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-right: 24px;
  }

  &__form {
    width: 100%;
    display: flex;

    &-field {
      background-color: $background-grey;
      padding: 20px;
      border: none;
      margin-bottom: 12px;
      flex: 1;
    }

    &-textarea {
      margin-bottom: 0;
      background-color: $background-grey;
      padding: 20px;
      border: none;
    }

    &-button {
      @include button;
    }
  }

  &__cart-items {
    flex: 2;
    background-color: $background-grey;
    padding: 16px;
  }

  &__cart-list {
    padding: 0;
    color: $text-grey;

    li {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-bottom: 16px;
    }
  }

  &__cart-quantity {
    margin: 0 8px;
  }
}