@import '../../variables.scss';

.header {
  width: 300px;
  padding: 60px;

  &__logo {
    margin-bottom: 50px;
    font-size: 2rem;
    line-height: 2rem;
  }

  &__nav-list {
    list-style-type: none;
    padding: 0;
  }

  &__nav-item {
    padding: 20px 0;
    font-size: 14px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $text-black;
    text-transform: uppercase;
    transition: color .2s;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: -60px;
      width: 0;
      height: 4px;
      background-color: $yellow;
      transition: all .3s
    }

    &:hover {
      color: $yellow;
    }

    &--active {

      &:after {
        width: 35px;

      }
    }
  }
}