@import '../../variables.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__logo {
    font-size: 2rem;
    line-height: 2rem;
  }

  &__nav-list {
    list-style-type: none;
    padding: 0;
  }

  &__nav-item {
    padding: 20px 0 20px 60px;
    font-size: 14px;
    display: inline-block;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $text-black;
    text-transform: uppercase;
    transition: color .2s;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX( -50% );
      width: 0;
      height: 4px;
      background-color: $yellow;
      transition: all .3s
    }

    &:hover {
      color: $yellow;
    }

    &--active {

      &:after {
        width: 56px;

      }
    }
  }
}