@import '../../variables.scss';

.search {
  &__container {
    padding: 60px 32px;
    background-color: $background-grey;
    margin-bottom: 32px;
  }
  &__label {
    width: 100%;
  }
  &__input {
    width: 100%;
    background: {
      image:url('../../searchIcon.png');
      size: 20px;
      repeat: no-repeat;
      position: 8px 50%;
    }
    padding: 12px 8px 12px 36px;
  }
}